.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.form-control {
    display: inline-block;
    background: #000000;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 5px 12px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px Arial, Helvetica, sans-serif;
    color: blue;
}